{% block javascript %}
<style>
  .list-group {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #f8f9fa;
}
</style>
{% endblock javascript %}

<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item list-group">
        <a class="nav-link" data-bs-target="#icons-navAdmin" data-bs-toggle="collapse" href="#">
            <i class="bi bi-grid"></i><span>Administrativo</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="icons-navAdmin" class="nav-content show" data-bs-parent="#sidebar-nav">
            <li>
                <a href="/farms/">
                    <i class="bi bi-circle"></i><span>Todas as Fazendas</span>
                </a>
            </li>
            <li>
                <a href="/maps/">
                    <i class="bi bi-circle"></i><span>Todos os Mapas</span>
                </a>
            </li>
            <li>
                <a href="/files/">
                    <i class="bi bi-circle"></i><span>Todos os Arquivos</span>
                </a>
            </li>
        </ul>
    </li>
  </ul>
</aside>
