{% extends 'base.html' %}

{% block javascript %}
<link href="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js"></script>
{% endblock javascript %}

{% block content %}
    <div id="map" style="width: 100%; height: 500px;"></div>
    <button id="geolocateButton" class="btn btn-info" title="Minha geolocalização">
        <div class="icon">
            <i class="bi bi-geo"></i>
        </div>
        
    </button>
    <div class="col-9">
        <small>Latitude: {{item.lat}}</small>
        <small>Longitude: {{item.long}}</small>
        <small>Endereço do mapa: {{item.url}}</small>
        <small>Dono do mapa: {{item.user.name}}</small>
    </div>
    <script>
        // Use o token de acesso público
        mapboxgl.accessToken = 'pk.eyJ1IjoiYnJ1bjB2ZmMiLCJhIjoiY2sxaWk3NjlqMDA1NDNkbGxxNTk1MDhjYiJ9.-nv91X8SUKqbQEjuLBCCuw';

        var map = new mapboxgl.Map({
            container: 'map', // ID do elemento onde o mapa será renderizado
            style: '{{item.url}}',//'mapbox://styles/brun0vfc/clpfjz8hw006q01p7csjy7eo5', // URL do estilo do mapa
            center: ['{{item.long}}', '{{item.lat}}'], // Defina as coordenadas iniciais [longitude, latitude]
            zoom: 15 // Nível de zoom inicial
        });

        // Função para centralizar o mapa na localização do usuário
        function centerMapOnUserLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(position => {
                    const userCoordinates = [position.coords.longitude, position.coords.latitude];
                    map.flyTo({
                        center: userCoordinates,
                        zoom: 14
                    });

                    // Adiciona um marcador na localização do usuário
                    new mapboxgl.Marker()
                        .setLngLat(userCoordinates)
                        .addTo(map);
                }, () => {
                    alert('Não foi possível obter a localização.');
                });
            } else {
                alert('Geolocalização não é suportada pelo seu navegador.');
            }
        }

        // Adiciona evento de clique ao botão para centralizar o mapa
        document.getElementById('geolocateButton').addEventListener('click', centerMapOnUserLocation);
    </script>
{% endblock content %}
